/*OVERALL*/
@font-face{
  font-family: HKGrotesk;
  src: url(fonts/HKGrotesk-Medium.woff);
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: HKGrotesk;
  src: url(fonts/HKGrotesk-SemiBold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: HKGrotesk;
  src:url(fonts/HKGrotesk-Bold.woff);
  font-weight: bolder;
  font-style: normal;
}

:root {
	--fontSizeS: 16px;
	--fontSizeM: 18px;
	--pink: rgb(240,157,250);
	--grey: rgb(235,235,235);
}

* {
	font-family: HKGrotesk;
	font-weight: 100;
	font-size: var(--fontSizeS);
	cursor: url("data:image/svg+xml,%3Csvg height='8' width='8' id='Livello_1' data-name='Livello 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.1 10.1'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000000;%7D%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='4' cy='4' r='4'/%3E%3C/svg%3E"), pointer!important;
  /*unselectable*/
  -webkit-user-select: none;  
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*hide scrollbar*/
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body{
	font-family: Helvetica;
	color: black;
	margin: 0px;
	overflow: hidden;
}

.header {
	width: calc(100% - 40px);
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
	height: 140px;
}
.header * {
	font-size: var(--fontSizeM);
	letter-spacing: .5px;
}

.header a {
	color: var(--pink);
	cursor: pointer;
	text-decoration: none;
}
.header a:hover {
	text-decoration: underline;
}
.header a:not(.moreButton):active {
	color: black;
}
.header > .left {
	position: relative;
	z-index: 5;
}
.header > .right {
	width: 330px;
	height: 1rem;
	display: flex;
	justify-content: space-between;
}

.header a.moreButton {
	transition: color .6s;
}

.header a.colorWhite {
	color: white;
}

/*ABOUT*/
.about_page {
	width: calc(44% - 40px);
	height: calc(100vh - 80px);
	position: absolute;
	top: 0;
	background-color: var(--pink);
	padding: 20px;
	padding-top: 60px;
	z-index: 4;
	transform: translate(-100%);
	transition: transform .6s;
	font-size: var(--fontSizeM);
	line-height: 130%;
}
.about_page > .about_text {
	font-size: var(--fontSizeM);
}
.about_page > .about_credits {
	font-size: 12px;
	color: rgb(66,66,66);
	margin-top: calc(60px - 2.5rem);
	position: absolute;
	bottom: 20px;
}
.about_page > .about_credits a {
	font-size: 12px;
	color: rgb(66,66,66);
}
.about_page > .about_credits a:hover {
	color: white;
}
.translateOnView {
	transform: translate(0%)!important;
}
.halfOpacity {
	opacity: .5;
}
.about_page_background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(255,255,255,.5);
	opacity: 0;
	transition: opacity .6s;
	display: none;
	z-index: 3;
}
.displayBlock {
	display: block;
}
.visible {
	opacity: 1;
}

/*PROJECTS*/
.projects_main {
	transition: opacity .6s;
	height: calc(100vh - 160px);
	margin-bottom: 120px;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	border-top: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
}
.projects_main > .project_line {
	height: 60px;
	width: 100%;
	display: flex;
	border-bottom: 1px solid var(--grey);
	scroll-snap-align: start;
	cursor: pointer;
}
.projects_main > .project_line:hover {
	color: var(--pink);
}
/*.projects_main .project_line:first-child {
}*/

.colorPink {
	color: var(--pink)!important;
}

/*.projects_main > .project_line:before {
	content: '';
	width: 100%;
	position: absolute;
	border-top: 1px solid var(--grey);
}*/

.projects_main > .project_line > .info {
	width: calc(44% - 20px);
	margin-left: 20px;
	display: flex;
	position: relative;
}
.projects_main > .project_line > .info > div {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.projects_main > .project_line > .info > div.category {
	left: 15%;
}
.projects_main > .project_line > .info > div.title {
	left: 40%;
	/*transition: color .6s;*/
}

.projects_main > .project_line > .gallery {
	width: 56%;
	display: flex;
	overflow: scroll;
}
.projects_main > .project_line > .gallery > img {
	cursor: pointer;
	object-fit: cover;
	width: 12%;
}



/*LIGHTBOX*/
.displayNone {
	display: none!important;
}
.opacityOne {
	opacity: 1!important;
}
.closeButton {
	position: absolute;
	cursor: pointer;
	width: auto;
	height: auto;
	background-color: var(--pink);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 10px;
	z-index: 2;
}
.closeButton:hover {
	opacity: .6;
}
.lightbox {
	position: absolute;
	width: calc(56% + 1px);
	top: 0;
	right: 0;
	margin-top: 160px;
	height: calc(100vh - 160px);
	background-color: var(--grey);
	border-top: 1px solid var(--grey);
	opacity: 0;
	transition: .6s;
}
.lightbox > .lightbox_gallery {
	/*height: calc(100% - 120px);*/
	overflow-x: scroll;
	display: inline-flex;
	flex-wrap: unset;
	overscroll-behavior-x: contain;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	gap: 0;

	height: auto;
	aspect-ratio: 3/2;
}
.lightbox > .lightbox_gallery > figure {
	margin: 0;
	min-width: 100%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	scroll-snap-align: start;
	position: relative;
}
.lightbox > .lightbox_gallery > figure > img {
	/*object-fit: cover;*/
	object-fit: contain;
	width: 100%;
	height: 100%;
	display: block; /*???*/
}

.lightbox > .lightbox_gallery > figure > .imageArrowLeft {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 250 250' style='enable-background:new 0 0 250 250;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23F09DFA;%7D .st1%7Bdisplay:none;fill:%23F09DFA;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='198.4,215 107,125.4 199.1,35.1 165.9,1.9 42.3,125.7 165.2,248.2 '/%3E%3Cpolygon class='st1' points='43,215 134.4,125.4 42.3,35.1 75.4,1.9 199.1,125.7 76.2,248.2 '/%3E%3C/svg%3E%0A");
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  padding-left: 12px;
  padding-right: 25%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: .6s opacity;
}
.lightbox > .lightbox_gallery > figure > .imageArrowRight {
	content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 250 250' style='enable-background:new 0 0 250 250;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;fill:%23F09DFA;%7D .st1%7Bfill:%23F09DFA;%7D%0A%3C/style%3E%3Cpolygon class='st0' points='198.4,215 107,125.4 199.1,35.1 165.9,1.9 42.3,125.7 165.2,248.2 '/%3E%3Cpolygon class='st1' points='43,215 134.4,125.4 42.3,35.1 75.4,1.9 199.1,125.7 76.2,248.2 '/%3E%3C/svg%3E%0A");
  position: absolute;
  width: 30px;
  top: 0;
  right: 0;
  padding-left: 25%;
  padding-right: 12px;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: .6s opacity;
}
.lightbox > .lightbox_gallery > figure > .imageArrowLeft:hover,
.lightbox > .lightbox_gallery > figure > .imageArrowRight:hover {
  opacity: 1;
}

.lightbox > .description {
	margin: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: scroll;
	height: auto;
}

footer {
	display: none;
}

/*################*/
/*QUERY INTERMEDIA*/
/*################*/
@media screen and (max-width: 1000px) {
	.projects_main > .project_line > .info > div.category {
		display: none;
	}
	.projects_main > .project_line > .info > div.title {
		left: 15%;
		/*transition: color .6s;*/
	}
}

/*############*/
/*QUERY MOBILE*/
/*############*/
@media screen and (max-width: 768px) {
	body {
		overflow: scroll;
	}
	/*HEADER*/
	.header > .right {
		display: none;
	}

	/*ABOUT*/
	.about_page {
		width: calc(100% - 40px);
		height: auto;
		transform: translate(0,-100%);
		padding-top: 58px;
	}
	.about_page > .about_credits {
		position: relative;
	}

	/*PROJECTS*/
	.projects_main {
		height: 100%;
		border-bottom: 0;
		scroll-snap-type: none;
		margin-bottom: calc(1rem + 40px);
	}
	.projects_main > .project_line {
		flex-direction: column;
		background-color: white;
		z-index: 2;
	}
	.projects_main > .project_line > .info {
		width: auto;
		height: 100%;
	}
	.projects_main > .project_line > .info > div.category {
		display: none;
	}
	.projects_main > .project_line > .info > div.title {
		left: 20%;
	}
	.projects_main > .project_line > .gallery {
		/*display: none;*/
		height: 0;
	}

	/*LIGHTBOX*/
	.lightbox {
		position: relative;
		width: 100%;
		margin-top: 0px;
		border-top: 0px solid var(--grey);
		height: 0%;
		opacity: 1!important;
		overflow: hidden;
	}
	.lightbox > .description {
		margin-bottom: -250;
		padding-bottom: 15px;
		height: auto;
		transition: .6s margin-bottom;
	}
	.lightbox.opacityOne > .description {
		margin-bottom: 0;
	}
	.lightbox > .lightbox_gallery {
		width: 100vw;
		height: 0px;
		transition: .6s height;
	}
	.lightbox.opacityOne > .lightbox_gallery {
		/*height: calc(100vw - 120px);*/
		height: calc(calc(100vw / 16) * 9);
	}

	.opacityOne {
		height: auto;
	}

	/*FOOTER*/
	footer {
		display: flex;
		position: fixed;
		bottom: 0;
		padding: 20px;
		width: calc(100% - 40px);
		justify-content: space-between;
		background-color: white;
		z-index: 5;
	}
	footer a {
		color: var(--pink);
		cursor: pointer;
		font-size: var(--fontSizeM);
		letter-spacing: .5px;
	}
	/*footer a:last-child {
		margin-right: 8%;
	}*/
	footer a:hover {
		text-decoration: underline;
	}
	footer a:active {
		color: black;
	}
}
